.blog{
    border: 10px solid tomato;
    border-radius: 20px;
    padding: 5px;
}
h4{
    font-weight: bolder;
    font-style: italic;
    background-color: blueviolet;
}
h3{
    text-align: center;
    padding:50px;
    text-decoration:darkblue;
}
.back_img{
    margin:10px;
    background-image: url(medical.png);
    /* background-size: 500px; */
    background-position: center; 
    background-repeat: no-repeat;
   
}